<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788311712281-3881epma4bptp5r7u7r128fih8d6vmns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788311712281-3881epma4bptp5r7u7r128fih8d6vmns</string>
	<key>API_KEY</key>
	<string>AIzaSyDdjeG17u_qyi2dE_bj7Mi1T643MsvhaSY</string>
	<key>GCM_SENDER_ID</key>
	<string>788311712281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.quickstart.FF.MessagingExample</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-26baa</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-26baa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788311712281:ios:54659b17ed4702a3</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotification-26baa.firebaseio.com</string>
</dict>
</plist>